body{
    background-color: rgb(120, 194, 236);
    /* color: white; */
    font-weight: bolder;
}
.center {
    margin: auto;
    margin-top: 6%;
    margin-bottom: 10%;
    width: 30%;
    height: 500px;
    border: 3px solid black;
    background-color: white;
    border-radius: 50px;
  }
  .con{
      margin-top: 35%;
  }
  .con h1{
      text-align: center;
      border: 2px solid black;
      background-color: skyblue;
      padding: 5%;
  }
  .con button{
     padding: 3%;
     margin: 13%;
     background-color: skyblue;
     border-radius: 20px;
  }
  .con button:hover{
      background-color: springgreen;
  }